
.logoStyle {
    height: 32%;
    width: 32%;
    margin-bottom: 4%;
}
.inputStyle {
  height: 1.6rem;
  width: 100%;
  margin-top: 2%;
  margin-bottom: 4%;
  outline: none;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 15px 8px;
  background-color: transparent;
}